body {
      background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlEByPiBGj8nTV3NmZ8Ua86vQ6g0-lF5v-Fw&usqp=CAU");
}
h1 {
    color: red;
}

img {
     width: 400px;
}

#thirdDiv{
    height: 600px;
    width: 500px;
    background-color: brown;
    padding: 50px;
    border: 2px solid black;
}
#spanid{
    font-size: 18px;
    margin: 50px;
}